body {
  /* Reference an image file */
  background: url('../images/background.jpg');
  color: White;
  font-family: 'trebuchet ms', verdana, arial;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div {
  text-align: center;
}

pre {
  text-align: left;
}
